@model CalculatorModel

<h2>Kalkulator</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Number1, "Pierwsza liczba:")
        @Html.TextBoxFor(m => m.Number1, new { type = "number", step = "any" })
    </div>
    <div>
        @Html.LabelFor(m => m.Number2, "Druga liczba:")
        @Html.TextBoxFor(m => m.Number2, new { type = "number", step = "any" })
    </div>
    <input type="submit" value="Dodaj"/>

    @if (Model.Result != 0)
    {
        <div>
            <strong>Wynik: @Model.Result</strong>
        </div>
    }
}